body {
    font-family: 'EB Garamond', serif;
    color: rgb(46, 46, 46);
}

.bg {
    background-image: url("pangolin-bg.png");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 i {
    color: lightcoral;
    margin: 2rem;
}

.heart a {
    color: lightcoral;
}


.heart p {
    font-size: 1.5rem;
}

.heart .hb {
    color: lightcoral;
    font-size: 15rem;
}